.widget.wgreen
  .widget-head
    .pull-left PUBLICAR MENSAJE
    .clearfix
  .widget-content
    - if @message.errors.any?
      #error_explanation
        %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
        %ul
          - @message.errors.full_messages.each do |msg|
            %li= msg
    .padd
      %br/
      / Form starts.
      = form_for @message, html: { class: "form-horizontal", :role => "form" } do |f|
        .form-group
          %label.col-lg-2.control-label Mensaje
          .col-lg-8
            = f.text_area :body, class: "form-control cleditor", required: "required"

        .form-group
          %label.col-lg-2.control-label Categoría
          .col-lg-5
            = f.select :category_id, options_for_select(categories_select), { include_blank: "- Seleccione una categoría -" }, { required: "required", class: "form-control" }

        .form-group
          %label.col-lg-2.control-label Visibilidad
          .col-lg-5
            = f.select :visibility, options_for_select(visibility_select), { include_blank: "- Seleccione la visibilidad -" }, { required: "required", class: "form-control" }

        .form-group
          %label.col-lg-2.control-label Grupos
          .col-lg-5
            = f.collection_check_boxes(:group_ids, current_user.groups, :id, :name, {}, { class: "form-control" }) do |g|
              = g.label class: "label-checkbox" do
                = g.check_box + g.text

        .form-group
          .col-lg-offset-2.col-lg-6
            %button.btn.btn-sm.btn-primary{type: "submit"} GUARDAR

  .widget-foot
