%h1 Listing messages

%table
  %thead
    %tr
      %th User
      %th Category id integer
      %th Visibility
      %th Group ids
      %th Body
      %th
      %th
      %th

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.user_id
        %td= message.category_id_integer
        %td= message.visibility
        %td= message.group_ids
        %td= message.body
        %td= link_to 'Show', message
        %td= link_to 'Edit', edit_message_path(message)
        %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
