.widget.wgreen
  .widget-head
    .pull-left= title
    .widget-icons.pull-right
      %a.wminimize{:href => "#"}
        %i.fa.fa-chevron-up
      %a.wclose{:href => "#"}
        %i.fa.fa-times
    .clearfix
  .widget-content
    - if @group.errors.any?
      #error_explanation
        %h2= "#{pluralize(@group.errors.count, "error")}:"
        %ul
          - @group.errors.full_messages.each do |msg|
            %li= msg
    .padd
      %br/
      / Form starts.
      = form_for @group, html: { class: "form-horizontal", :role => "form" } do |f|
        .form-group
          %label.col-lg-2.control-label Nombre
          .col-lg-5
            = f.text_field :name, class: "form-control", placeholder: "Nombre"

        .form-group
          %label.col-lg-2.control-label Usuarios
          .col-lg-5
            = f.collection_check_boxes(:user_ids, User.all, :id, :name) do |u|
              = u.label class: "label-checkbox" do
                = u.check_box + u.text

        .form-group
          .col-lg-offset-2.col-lg-6
            %button.btn.btn-sm.btn-primary{type: "submit"} GUARDAR

  .widget-foot
