!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}/
    / Title and other stuffs
    %title Social Company
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "author"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags

    / Favicon
    %link{:href => "img/favicon/favicon.png", :rel => "shortcut icon"}/
  %body
    .navbar.navbar-fixed-top.bs-docs-nav{:role => "banner"}
      .container
        %h1.text-center
          Social Company
    / Header starts
    %header

    / Main content starts
    .content
      / Sidebar
      .sidebar
        .sidebar-dropdown
          %a{:href => "#"} Navegación
        / - Sidebar navigation
        / If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation.
        %ul#nav
          - if is_admin?
            = render "shared/admin_menu"
          - else
            = render "shared/user_menu"
      / Sidebar ends
      / Main bar
      .mainbar
        / Page heading
        .page-head
          %h2.pull-left
            %i.fa.fa-table
            = I18n.t(params[:controller])
          / Breadcrumb
          .bread-crumb.pull-right
            %a{:href => root_path}
              %i.fa.fa-home
              Inicio
            / Divider
            %span.divider /
            %a.bread-current{:href => "#"} Dashboard
          .clearfix
        / Page heading ends
        / Matter
        .matter
          .container
            / Table
            .row
              .col-md-12
                - flash.each do |key, value|
                  %div.alert.alert-success
                    = value
                = yield
            
        / Matter ends
      / Mainbar ends
      .clearfix
    / Content ends
    / Footer starts
    %footer
      .container
        .row
          .col-md-12
            / Copyright info
            %p.copy
              Copyright © 2016 |
              %a{:href => "#"} Marco Montes
    / Footer ends
    / Scroll to top
    %span.totop
      %a{:href => "#"}
        %i.fa.fa-chevron-up
